
<div class="footer">
    <div class="container-fluid" >
      
      <div align="center">
            <%= link_to "About",   '#' %>  |  <%= link_to "Terms of Service", '#' %>  |  <%= link_to "Contact", '#' %>
      </div>
      <div class="container-fluid" align="right">
          <%= link_to 'TAG˚', root_path %>
      </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4"><!--Column left--></div>
    <div class="col-md-4"><!--Column middle--></div>
    <div class="col-md-4"><!--Column right--></div>
</div>
