
<style>
.wordz {
    /*background-color:black;*/
    /*color:white;*/
    margin:30px;
    padding:20px;
    opacity: 0.8
}
</style>

<div class="wordz">
<br>
<p style="font-size:20px"> Contact us:</p>
<br>

Feel free to message us with any and all concerns, questions or comments.
(contact us forum)</p>
<a href="mailto:teamtaskandgo@gmail.com?subject=feedback">eMail Team Tag</a>
</div>
