<!-- Leaving this file as a backup for a few weeks, remove March 1st 2016 if not used -->
<!-- deprecated: use messages/new.html.erb -->
<style>
.wordz {
    /*background-color:black;*/
    /*color:white;*/
    margin:30px;
    padding:20px;
    opacity: 0.8
}
</style>

<div class="wordz">
<br>
<p style="font-size:20px"> Contact us:</p>
<br>

Feel free to message us with any and all concerns, questions or comments.</p>
<a href="mailto:teamtaskandgo@gmail.com?subject=feedback">eMail Team Tag</a>
</div>
