<% header "Secret!" %>

  <!-- id="map" calls the map function in, #map size defined in .scss -->
  <!-- <div id="map"></div>

  <script>

      var map;
      function initMap() {
        var myLatLon = {lat: 34.0837344, lon: -118.3224372};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 11,
          center: myLatLon
        });

        var marker = new google.maps.Maker({
          position: myLatLon,
          map: map,
          title: 'MayHaps'
        });
      }

  </script>

  <script src="https://maps.googleapis.com/maps/api/js?&callback=initMap"
    async defer>
  </script> -->

  <div id="map"></div>
    <script>

function initMap() {
  var myLatLon = {lat: 34.0837344, lng: -118.3224372};

  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 11,
    center: myLatLon
  });

  var marker = new google.maps.Marker({
    position: myLatLon,
    map: map,
    title: 'Goodbye 2015, Good Bye'
  });
}

    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?&callback=initMap"></script>
  </body>
