// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// css & from base ref by ssbalakumar @ http://codepen.io/ssbalakumar/pen/uzDIA
// pastel -ish inviting color pallete in regards to inviting communication
// TODO on v2 pass: reduce saturation, restyle gradlients or less distinsion in transition
@import url(https://fonts.googleapis.com/css?family=Poiret+One|Source+Sans+Pro:400,300,300italic|Abel|Fira+Sans:400,300);
// font-family: 'Source Sans Pro', sans-serif;
// font-family: 'Abel', sans-serif;
// font-family: 'Fira Sans', sans-serif;
// font-family: 'Poiret One', cursive;

* {
	margin:0;
	padding:0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	-o-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}

cu_body {
	font-family:"Fira Sans", Helvetica, Arial, sans-serif;
	font-weight:300;
	font-size: 13px;
	line-height:30px;
	color:#bdcbd3;
	// color:#777;
}

.contact_container {
	font-family:'Abel', Helvetica, Arial, sans-serif;
	max-width:400px;
	width:100%;
	margin:0 auto;
	position:relative;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="subject"], #contact textarea, #contact button[type="submit"] { font:400 13px/16px 'Source Sans Pro', serif, Helvetica, Arial, sans-serif; }

#contact {
	// loved the gradients but the image.jpg aspect isn't in place so it loads slow as it times out in-route
	// tentative for now
	background:
linear-gradient(#acc7dc 0%, #d6dde3 90%), // base ok
linear-gradient(to right, #eabdd5 0%, #c2eafd 90%), // base ok
    linear-gradient(#eabdd5 10%, #d6dde3 40%),
		linear-gradient(to right, #eabdd5 0%, #E5AFCC 90%),
    url('image.jpg') 30px, // these have to stay to allow the blend mode to work
    url('image.jpg') 20px; // these have to stay to allow the blend mode to work
  background-blend-mode: luminosity; // potential nix revision 2
	// background:#F9F9F9;
	opacity: 0.9; // slight connection to background graphic
	padding:25px;
	margin:60px 0;
}

#contact h3 {
	font-family: 'Abel', Helvetica, Arial, sans-serif;
	// color: #66a2c7;
	// color: #D3BDCB;
	color: #51819F;
	display: block;
	font-size: 33px;
	font-weight: 400;
}

#contact h4 {
	font-family: 'Poiret One' cursive, 'Source Sans Pro', Helvetica, Arial, sans-serif;
	// font-weight:300;
	color: #252525;
	margin:5px 0 15px;
	display:block;
	font-size:14px;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="subject"], #contact textarea {
	width:100%;
	border:1px solid #CCC;
	background:  #F9FBFD;
	// background:#FFF;
	margin:0 0 5px;
	padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="subject"]:hover, #contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}

#contact textarea {
	height:100px;
	max-width:100%;
  resize:none;
}

#contact button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background: #FFA7DF;
	opacity: 0.9;
	// background: #bdcbd3;
	// background:#0CF;
	// color:#bdcbd3;
	color:#FFF;
	// color:  #F9FBFD;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}

#contact button[type="submit"]:hover {
	background: #c766a2;
	// background:#09C;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}
